.header {
  border: 1px solid var(--color-white-2);
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navigation a:hover {
  color: var(--color-yellow-2);
}
