html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  --color-white-1: #fff;
  --color-white-2: #f0f0f0;
  --color-black-1: #000;
  --color-black-2: #000814;
  --color-yellow-1: yellow;
  --color-yellow-2: #ffd60a;
  --color-gray-1: gray;
  --color-gray-2: #a5a5a5;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-gray-2);
}

body {
  max-width: 1200px;
  background: var(--color-white-1);
  position: relative;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (min-width: 768px) {
  body {
    margin: 100px auto;
  }
}
